@import url("./index.css");

.container {
    text-align: center;
    font-size: 24px;
    padding: 0 6%;

}

.container h1{
    margin: 7rem auto 2rem auto;
    text-align: left;
    font-size: 2rem;
}

.productsList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: center;
    align-items: center;
    height: max-content;
    z-index: 1;
}

@media only screen and (max-width: 1000px) {
    .productsList{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
  }