@import "./index.css";

.homePage {
    text-align: center;
    font-size: 24px;
    max-width: 1526.4px;
    margin: 10rem auto;
    padding: 0 5rem 0 1rem;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    gap: 50px;
}

.homePage h1{
    margin: 0rem auto 2rem auto;
    text-align: left;
    font-size: 2rem;
}



.loadingText{
    text-align: center;
}



.productsList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: center;
    align-items: center;
    height: max-content;
    z-index: 1;
}


@media only screen and (max-width: 1284px) {
    .homePage{
        grid-template-columns: 1fr;
        padding: 0 1rem 0 1rem;
    }
}


@media only screen and (max-width: 1000px) {
    .productsList{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 678px) {
    .productsList{
        grid-template-columns: repeat(1, 1fr);
    }
}