@import "./index.css";

.navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: var(--light);
    color: var(--light);
    padding: 10px 86.4px;
    z-index: 1000;
}

.logo{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .navbar {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;
    }
  }

.categories {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 15px;
}

.category{
    font-weight: light;
    color: #1D1F22;
    font-size: 1.5em;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    text-transform: capitalize;
}

.category path{
    stroke: black;
}

.category svg{
    width: 2rem;
    height: 1rem;
}

.category::first-letter{
    text-transform: capitalize;
}

.categoryClicked{
    border-bottom: 3px solid var(--primary);
    color: var(--primary);
}

.currency {
    border: none;
    border-radius: 5px;
    padding: 0px 10px;
    width: fit-content;
    height: 1.5rem;
    font-weight: bold;
    font-size: 20px;
    color: var(--dark);
    cursor: pointer;
}

.currencyOption{
    background-color: var(--light);
    color: var(--dark);
    font-size: 15px;
}

.misc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: clamp(fit-content, 20%, 200px);
    
}

.misc button {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    padding: 5px;
    margin: auto 20px;
    background-color: transparent;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.badge{
    position: absolute;
    top: -15%;
    right: -15%;
    padding: 5px;
    width: 65%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.75);
    color: var(--light);
    font-weight: 600;
}