@import "./index.css";

.container{
    background-color: white;
    height: max-content;
    width: 100%;
    text-align: left;
    transition: ease-in-out 100ms;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container:hover{
    transform: scale(1.02);
    z-index: 5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.productImg{
    width: 100%;
    object-fit: contain;
    border-radius: 15px 15px 0 0;
    display: block;
    margin: auto;
    transition: ease-in-out 150ms;
}


.productImgWrapper{
    padding: 10px;
}


.outOfStock{
    opacity: 0.5;
}

.outOfStockText{
    position: absolute;
    top: -130%;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
}

.productDetails{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.productOptions{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.productOptionName{
    font-weight:bolder;
    text-transform: uppercase;
    font-size: 14px;
}

.productAttribute {
    width: 4rem; 
    height: 30px;                  
}


.details{
    padding: 30px 20px;
    position: relative;
}

.details h4{
    font-size: 1.3em;
}

.details h5{
    font-size: 1.1em;
}

.details b{
    font-size: 0.7em;
}

.addToBag{
    position: absolute;
    top: -25px;
    right: 10px;
    border-radius: 100%;
    border: none;
    width: 3rem;
    height: 3rem;
    transition: ease-in-out 80ms;
    cursor: pointer;
    background-color: var(--primary);
    color: white;
}

.addToBag path{
    fill: white;
}

.addToBagProductDetails{
    background: var(--primary);
    color: white;
    border: none;
    width: 100%;
    height: 4rem;
    text-transform: uppercase;
}
