.sidebar{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    height: 100%;
    border: 3px solid rgba(128, 128, 128, 0.3);
    font-size: 1rem;
    padding: 1rem;
    font-weight: 700;
}


select{
    align-self: center;
}

.colors{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}


.colorOption{
    border: 2px solid black;
    width: 1.8rem;
    height: 1.6rem;
}


.chosenColorOption{
    border: 2px solid #5ECE7B;
    width: 1.8rem;
    height: 1.6rem;
}


.sizeFilter, 
.capacityFilter, 
.withUSB3PortsFilter, 
.touchIDInKeyboard,
.colorFilter{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.colors{
    display: flex;
    justify-content: center;
}

.options{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

.singleOption{
    display: flex;
    gap: 0.7rem;
}



@media only screen and (max-width: 1284px) {

    .sidebar{
        gap: 1rem;
    }

    .sizeFilter, 
    .capacityFilter, 
    .withUSB3PortsFilter,
    .touchIDInKeyboard,
    .colorFilter{
        text-align: left;
        gap: 0.6rem;
    }

    select{
        width: 30%;
        align-self: flex-start;
        max-width: 11rem;
    }

    .colors{
        display: flex;
        justify-content: flex-start;
    }
    
    .options{
        display: flex;
        justify-content: flex-start;
        gap: 2.5rem;
    }
}